html {
    background-color: #181725;
}


/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: white;
    flex-shrink: 0;
}

/* 메인 컨텐츠 안내문 */
.main-content-guide {
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 15px;
    
    width: auto;
    height: auto;

    background-color: #9fabb0;
    border-radius: 10px;
    border: 3px solid lightyellow;
}

.main-content-guide .main-content-guide-text {
    font-size: 20px;
    font-weight: bold;
    color: rgb(50, 52, 77);
}

/* 전체 컨테이너 */
.comparison-container {
    margin-top: 5px;
    margin-bottom: 5px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 표 배경 */
.Full-Spaces {
    width: auto;
    height: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 3px solid lightyellow;

    background-color: #9fabb0;
}

/* 표 제목 스타일 */
.feature-comparison-table > .feature-comparison-table-title {
    font-size: 15px;
    font-weight: bold;
    
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    color: #c0cdd3;

    margin-bottom: 5px;
    padding: 15px;
    text-align: center;

    /* 둥근 모서리 설정 */
    /* border-radius: 15px;  */
    background-color: rgb(50, 52, 77);
    border: 3px solid rgb(255, 255, 255);


}

/* 표 제목 svg 스타일 */
.feature-comparison-table > .feature-comparison-table-title .feature-comparison-table-title-svg {
    width: 20px;
    height: 20px;

    fill: #c0cdd3;
    vertical-align: middle; /* 수직 정렬 */
    margin-right: 5px;
    flex-shrink: 0;
}


/* 표 제목 text 스타일 */
.feature-comparison-table > .feature-comparison-table-title .feature-comparison-table-title-text {
    display: inline-block;
    vertical-align: middle; /* 수직 정렬 */
}


/* 표 스타일 */
.feature-comparison-table {
    width: 100%;

    height: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;

    text-align: center;
    background-color: rgb(50, 52, 77);
    
    border: 3px solid lightgray;

    /* border-radius 적용을 위해 separate 설정 */
    /* border-collapse: separate;  */
    border-collapse: collapse;
}


/* 표 헤더 스타일 */
.feature-comparison-table thead > tr > th {
    background-color: rgb(123, 117, 137);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

/* 표 셀 스타일 */
.feature-comparison-table th, .feature-comparison-table td {
    padding: 10px;
    border: 2px solid lightgray;
    font-weight: bold;
    text-align: center; /* 텍스트를 중앙에 정렬 */
    font-size: 10px;
}

/* 기능 비교명 스타일 */
.feature-comparison-table td:first-child,
.feature-comparison-table td:nth-child(2) {
    width: 50%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    word-break: keep-all;
}

.feature-comparison-table td:first-child  {
    color: #c0cdd3;
}

.feature-comparison-table td:nth-child(2) {
    color: #c0cdd3;
}


/* 지원 여부 스타일 */
.feature-comparison-table .not-supported,
.feature-comparison-table .supported {
    width: 15%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    word-break: keep-all;
}

.feature-comparison-table .not-supported {
    color: lightcoral;
}

.feature-comparison-table .supported {
    color: lightblue;
}




/* 어드레스 적용 */
.contact {
    font-weight: bold;

    border-radius: 15px;
    border: 3px solid #9fabb0;

    width: auto;
    height: auto;

    padding: 10px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    
    background-color: #93c7ea43;
    color: white;
}

/* 문의 svg 정의 */
.contact svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    fill: white;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: lightyellow;
    text-decoration: none;
}