html {
    background-color: #181725;
}


/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: white;
    flex-shrink: 0;
}


/* 전체 컨테이너 */
.comparison-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 표 배경 */
.Full-Spaces {
    width: auto;
    height: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
    border-radius: 15px;
    border: 3px solid lightyellow;

    background-color: #9fabb0;
}

/* 표 제목 스타일 */
.feature-comparison-table > .feature-comparison-table-title {
    font-size: 20px;
    font-weight: bold;
    
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    color: rgb(165, 170, 229);

    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgb(104, 106, 136);
    border-radius: 15px; /* 둥근 모서리 설정 */
    border: 3px solid black;


}

/* 표 제목 svg 스타일 */
.feature-comparison-table > .feature-comparison-table-title .feature-comparison-table-title-svg {
    width: 30px;
    height: 30px;

    fill: rgb(165, 170, 229);
    vertical-align: middle; /* 수직 정렬 */
    margin-right: 5px;
    flex-shrink: 0;
}


/* 표 제목 text 스타일 */
.feature-comparison-table > .feature-comparison-table-title .feature-comparison-table-title-text {
    display: inline-block;
    vertical-align: middle; /* 수직 정렬 */
}


/* 표 스타일 */
.feature-comparison-table {
    margin-bottom: 10px;
    width: 100%;

    height: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;

    text-align: center;
    background-color: rgb(104, 106, 136);
    border-radius: 15px; /* 둥근 모서리 설정 */
    border: 3px solid black;
    border-collapse: separate; /* border-radius 적용을 위해 separate 설정 */
}


/* 표 헤더 스타일 */
.feature-comparison-table thead {
    background-color: rgb(245, 245, 235);
}

/* 표 셀 스타일 */
.feature-comparison-table th, .feature-comparison-table td {
    padding: 10px; /* 패딩을 10px로 증가 */
    border: 2px solid black;
    font-weight: bold;
    text-align: center; /* 텍스트를 중앙에 정렬 */
    font-size: 15px;
}

/* 기능 비교명 스타일 */
.feature-comparison-table td:first-child {
    color: rgb(165, 170, 229);
    padding: 0px;
    width: 50%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    word-break: keep-all;
}

/* 지원 여부 스타일 */
.feature-comparison-table .supported {
    color: lightblue;
    width: 15%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    word-break: keep-all;
}

.feature-comparison-table .not-supported {
    color: tomato;
    width: 15%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    word-break: keep-all;
}



/* 어드레스 적용 */
.contact {
    font-weight: bold;

    border-radius: 15px;
    border: 3px solid lightskyblue;

    width: auto;
    height: auto;

    padding: 10px;

    margin-left: auto;
    margin-top: auto;

    text-align: center;
    
    background-color: #93c7ea43;
    color: white;
}

/* 문의 svg 정의 */
.contact svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    fill: white;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: lightyellow;
    text-decoration: none;
}