html {
    background-color:  #181725;
    
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
    /* overflow: hidden; */
    word-break: keep-all;
    white-space: normal;
}



/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: white;
    flex-shrink: 0;
}



.main-top {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: auto;
    height: auto;

    background-color: #93c7ea43;
    
    border: 3px solid lightskyblue;
    border-radius: 15px;

    text-align: center;

}

.main-logo > img {
    width: 200px;
    width: 200px;
}




/* 메인 제목 설정 */
.main-title > h3 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.main-title > h3 > .main-title-subject {
    color: lightskyblue;
}

/* 카테고리 텍스트 설정 */
#category-id h4 > span {
    font-size: 18px;
    /* margin-left: 0px; */
    display: inline-flex;
    align-items: center;
    color: white;
}

#category-id h4 :hover {
    color: lightcoral;
}

#category-id h4 > span > svg {
    width: 25px; /* SVG 크기 설정 */
    height: 25px; /* SVG 크기 설정 */
    vertical-align: middle;
    margin-right: 15px; /* 텍스트와 아이콘 사이의 간격 조절 */
    flex-shrink: 0;

    fill: white;
}


.main-setting-list {
    display: block;

    width: auto;
    height: auto;

    padding: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 3px solid lightskyblue;
    border-radius: 15px;
    background-color: #93c7ea43;
}

/* 설정 텍스트 밑줄 제거 */
#setting-id li > a {
    text-decoration: none;
            
}

#setting-id li {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
    color: lightyellow;
    list-style-type: none;
    position: relative; /* 상대 위치 설정 */
    list-style-type: none;
    display: flex; 
    /* justify-content: center; */
    align-items: center; /* 수직 방향으로 중앙 정렬 */

}

#setting-id li > svg {
    margin-right: 10px;
    fill: white; /* SVG 색상 설정 */
    width: 20px; /* SVG 크기 설정 */
    height: 20px; /* SVG 크기 설정 */
    position: relative;
    flex-shrink: 0;
}

#setting-id li:hover,
#setting-id li > a:hover {
    color: lightcoral;
}

#setting-id li > a {
    color: inherit;
}

/* 설정 */
#setting-id {
    margin-left: 20px;
}


/* 어드레스 적용 */
.contact {
    font-weight: bold;

    border-radius: 15px;
    border: 3px solid lightskyblue;

    width: auto;
    height: auto;

    padding: 10px;

    margin-left: auto;
    margin-top: auto;

    text-align: center;
    
    background-color: #93c7ea43;
    color: white;
}

/* 문의 svg 정의 */
.contact svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    fill: white;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: lightyellow;
    text-decoration: none;
}