html {
    background-color: aliceblue;
    
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
    /* overflow: hidden; */
    word-wrap: break-word; 
    white-space: normal;
}

/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    font: 100;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: #000000;
}



.main-top {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: auto;
    height: auto;

    background-color: #b3d5ed;
    
    border: 3px solid black;
    border-radius: 30px;

    text-align: center;

}

.main-logo > img {
    width: 200px;
    width: 200px;
}




/* 메인 제목 설정 */
.main-title > h3 {
    font-size: 20px;
    font-weight: bold;
}

.main-title > h3 > .main-title-subject {
    color: slateblue;
}

/* 카테고리 텍스트 설정 */
#category-id h4 > span {
    font-size: 20px;
    /* margin-left: 0px; */
    display: inline-flex;
    align-items: center;
}

#category-id h4 :hover {
    color: darkolivegreen;
}

#category-id h4 > span > svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 15px; /* 텍스트와 아이콘 사이의 간격 조절 */
}


.main-setting-list {
    display: block;

    width: auto;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 3px solid black;
    border-radius: 30px;
    background-color: #e0ecec;
}

/* 설정 텍스트 밑줄 제거 */
#setting-id li,
#setting-id li > a {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    color: slateblue
            
    
}

#setting-id li:hover,
#setting-id li > a:hover {
    color: tomato;
}

#setting-id li > a {
    color: inherit;
}

/* 설정 */
#setting-id {
    margin-left: 20px;
}


/* 어드레스 적용 */
.contact {
    margin-left: 20px;
    font-weight: bold;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: brown;
    text-decoration: none;
}


hr {
    width: 95%;
    height: 10px;
    background-color: darkcyan;
    border-radius: 10px;
}