html {
    background-color: aliceblue;
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
}


.main-logo > img {
    width: 200px;
    width: 200px;
    margin-left: 20px;
}


/* 메인 제목 설정 */
.main-title > h3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
}

/* 카테고리 텍스트 설정 */
#category-id h4 > span {
    font-size: 20px;
    margin-left: 20px;
}


/* 설정 텍스트 밑줄 제거 */
#setting-id li,
#setting-id li > a {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    color: slateblue
            
    
}

/* 설정 */
#setting-id {
    margin-left: 40px;
}


/* 리밴스드 팁 텍스트 밑줄 제거 */
#Revanced-Tips-id li,
#Revanced-Tips-id li > a {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    color: slateblue
            
    
}

/* 설정 */
#Revanced-Tips-id {
    margin-left: 40px;
}


/* 어드레스 적용 */
.contact {
    margin-left: 20px;
    font-weight: bold;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: brown;
    text-decoration: none;
}


