html {
    background-color:  #181725;
    
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
    /* overflow: hidden; */
    word-wrap: break-word; 
    white-space: normal;
}

/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    font: 100;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: white;
    flex-shrink: 0;
}

/* 사진 & 제목 부분 */
.main-top {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: auto;
    height: auto;

    background-color: #93c7ea43;

    border: 3px solid lightskyblue;
    border-radius: 15px;

    text-align: center;

}

.title {
    color: white;
    font-size: 20px;
}

.title > .main-title {
    color: lightskyblue;
}

.title > .main-title:hover {
    color: tomato;
}


.main-logo > img {
    width: 200px;
    width: 200px;
}

.variable {
    display: block;

    width: auto;
    height: auto;


    padding: 10px;
    

    border: 3px solid lightskyblue;
    background-color: #93c7ea43;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

/* 여기에도 컬러 적용 */
.variable > div > li {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: lightyellow;
    list-style-type: none;
    display: flex; /* flex box를 사용 */
    justify-content: center;
    align-items: center; /* 수직 방향으로 중앙 정렬 */
}

.variable > div > li svg {
    margin-right: 10px;
    fill: white; /* SVG 색상 설정 */
    width: 25px; /* SVG 크기 설정 */
    height: 25px; /* SVG 크기 설정 */
    position: relative;
    flex-shrink: 0;
    
}


/* 텍스트 밑줄 제거 */
.variable > div > li > a {
    text-decoration: none;
    
    color: lightyellow;
    /* transition: color 1.0s ease;  */
    /* 부드러운 색상 전환 효과 */
    
}

.variable > div > li:hover,
.variable > div > li > a:hover {
    color: tomato;
    
}

.variable > div > li > a {
    color: inherit;
}


.category {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.Full-Spaces {
    padding-top: 10px;
    padding-bottom: 10px;

    height: auto;
    width: auto;

    padding: 10px;
    
    border: 3px solid lightskyblue;
    background-color: #93c7ea43;

    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;


}

.Full-Spaces:hover {
    background-color: #181725;
}

/* 질문 */
.variable-title {

    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: lightyellow;
    /* transition: color 1.0s ease;  */
    /* 부드러운 색상 전환 효과 */
    list-style-type: none;
    display: flex; /* flex box를 사용 */
    justify-content: center;
    align-items: center; /* 수직 방향으로 중앙 정렬 */


    
}

.variable-title svg {
    margin-right: 10px;
    fill: white; /* SVG 색상 설정 */
    width: 25px; /* SVG 크기 설정 */
    height: 25px; /* SVG 크기 설정 */
    position: relative;
    flex-shrink: 0;
}

.variable-title:hover {
    color: tomato;
}

/* 질문 설명 */
.variable-desc {
    list-style-type: decimal;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    
}

.variable-desc:hover {
    color: lightcyan;
}


/* 버튼 */
.Reference > .images-open {
    display: block;
    color: #294253;
    background-color: rgb(100, 177, 184);
    border-radius: 30px;
    border: 3px solid lightskyblue;
    width: 250px;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    transition: 0.25s;

    font-weight: bold;
    
    

}

.Reference > .images-open:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.Reference > .images-open:active {
    transform: scale(1.5);
}


/* 사진 */
.Reference-Flex  {
    display: flex;
    justify-content: center;
    width: 100%;
}


.Reference-Flex div  {
    display: inline-flex;
    text-align: center;
    align-items: center;

    flex-wrap: nowrap; /* 한 줄로 배치 */
    overflow: auto;

}

.reference-image {
    display: none;
    visibility: hidden; /* 기본적으로 이미지를 숨깁니다 */
    opacity: 0; /* 투명도를 0으로 설정하여 보이지 않게 합니다 */
    width: 320px;

    border: 3px solid lightskyblue;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    transition: opacity 1.2s ease, visibility 1.2s ease; /* 부드러운 전환 효과를 설정합니다 */
    border-radius: 15px;
    
}


.reference-image.show {
    visibility: visible; /* 이미지를 보이게 합니다 */
    opacity: 1; /* 투명도를 1로 설정하여 이미지를 보이게 합니다 */
    
}



/* 어드레스 적용 */
.contact {
    font-weight: bold;

    border-radius: 15px;
    border: 3px solid lightskyblue;

    width: auto;
    height: auto;

    padding: 10px;

    margin-left: auto;
    margin-top: auto;

    text-align: center;
    
    background-color: #93c7ea43;
    color: white;
}

/* 문의 svg 정의 */
.contact svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    fill: white;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: lightyellow;
    text-decoration: none;
}


/* 사진 줄 바꿈*/
.image-line-wrap {
    display: block;
    width: 80%;
    height: 5px;
    background-color: lightskyblue;
    border-radius: 10px;

    margin-top: 30px;
    margin-bottom: 30px;
}
