html {
    background-color: aliceblue;
    
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
    /* overflow: hidden; */
    word-wrap: break-word; 
    white-space: normal;
}

/* 홈 밑줄 제거 */
.home > a{
    text-decoration: none;
    font-weight: bold;
    color: slateblue
    
}

.home > a:hover {
    color: tomato;
}

.title {
    font-size: 20px;
    margin-left: 20px;
}

.title > .main-title {
    color: slateblue;
}

.title > .main-title:hover {
    color: tomato;
}

.main-logo > img {
    width: 200px;
    width: 200px;
    margin-left: 20px;
}

/* 여기에도 컬러 적용 */
.variable > ul > li {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: slateblue 
}

/* 텍스트 밑줄 제거 */
.variable > ul > li > a {
    text-decoration: none;
    color: slateblue
    
}

.variable > ul > li:hover,
.variable > ul > li > a:hover {
    color: tomato;
}


.category {
    margin-left: 20px;
}


/* 질문 */
.variable-title {
    list-style-type: disc;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: slateblue
    
}

.variable-title:hover {
    color: tomato;
}

/* 질문 설명 */
.variable-desc {
    list-style-type: decimal ;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: darkolivegreen;
    
}

/* 버튼 꾸미기 */
.images-open {
    position: relative;
    border: none;
    min-width: 250px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgb(13, 120, 214) 0%,
        rgb(47, 193, 134) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 60px;
}

.images-open:hover {
    transform: scale(1.2);
}

.images-open:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #5d12de;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

/* 버튼 링 표시 */
@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient2 {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}


.reference-image {
    display: none; /* 기본적으로 이미지를 숨깁니다 */
    opacity: 0; /* 투명도를 0으로 설정하여 보이지 않게 합니다 */
    width: 250px;
    /* height: 600px; */
    margin-top: 50px;
    margin-left: 60px;
    transition: opacity 1.2s ease; /* 부드러운 전환 효과를 설정합니다 */
    border-radius: 15px;
    
}
.reference-image.show {
    display: block; /* 이미지를 보이게 합니다 */
    opacity: 1; /* 투명도를 1로 설정하여 이미지를 보이게 합니다 */
}



/* 어드레스 적용 */
.contact {
    margin-left: 20px;
    font-weight: bold;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: brown;
    text-decoration: none;
}