html {
    background: #1A1C1E;
    /* 부드러운 스크롤을 위한 CSS */
    scroll-behavior: smooth;
}


/* 홈 아이콘 적용 */
.home > .set-img-svg {
    width: 30px;
    height: 30px;
    
}

.home > .set-img-svg > .path-svg > svg {
    fill: #ffffff;
    flex-shrink: 0;
}


.main-content {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #93c7ea43;
    border-radius: 15px;
    border: 3px solid lightskyblue;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
}



/* 타이틀 영역 */
.main-content > .title {
    color: white;
    /* margin-left: 20px; */
    font-weight: bold;
}

.main-content > .patches-web > h4 span > a {
    text-decoration: none;
    font-weight: bold;
    color: lightyellow;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content > .patches-web > h4 > span > a:hover {
    color: tomato;
}

/* 브라우저 열기 아이콘 */
.patches-web > h4 > span > a > svg {
    margin-right: 10px;
    fill: rgb(255, 255, 255); /* SVG 색상 설정 */
    width: 25px; /* SVG 크기 설정 */
    height: 25px; /* SVG 크기 설정 */
    position: relative;
    flex-shrink: 0;
}


/* 해당 패치 개발자 이름 */
.patch-developer-name {
    color: skyblue;
}

/* 패치 버전 */
.main-content > .patches-web > h4 span > .patches-version {
    text-decoration: none;
    font-weight: bold;
    color: lightyellow;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/* (버전) 정보 아이콘 */
.patches-web > h4 > span > .patches-version > svg {
    margin-right: 10px;
    margin-top: 0;
    fill: rgb(255, 255, 255); /* SVG 색상 설정 */
    width: 25px; /* SVG 크기 설정 */
    height: 25px; /* SVG 크기 설정 */
    position: relative;
    flex-shrink: 0;
}

.main-content > .patches-web > h4 > span > .patches-version:hover {
    color: tomato;
}

/* 전체공간 */
.Full-Spaces {
    width: auto;
    border: 3px solid lightskyblue;
    margin-bottom: 30px;
    background: #9ba4ab43;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    word-wrap: break-word; 
    white-space: normal;

    text-align: center;
}

.Full-Spaces:hover {
    background-color: #93c7ea43;
}

/* 체크박스 변경 */
.rvx-option input[type='checkbox'] {
    display: inline-block; /* 영역적용가능해짐 */
    width: 20px; height: 20px;
    position: relative; top: 4px;}


/* 니중에 체크박스를 사진으로 변경할 것 */
/* .rvx-option input[type='checkbox'] {
    display: inline-block;
    width: 20px; height: 20px;
    position: relative; top: 4px;
    background-image: url('이미지URL');
    background-size: cover;
    appearance: none; 
} */

/* 체크된 상태의 스타일 */
/* .rvx-option input[type='checkbox']:checked {
    background-image: url('https://cdn.pixabay.com/photo/2023/03/30/00/21/check-7886573_960_720.png');
    position: relative; top: 6px;

} */

/* 체크박스 공간 */
.rvx-option {
    /* height: 100px; */
    width: auto;
    border: 3px solid #d6d9db;
    margin-bottom: 30px;
    background: #252E33;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    /* overflow: hidden; */
    word-wrap: break-word; 
    white-space: normal;
}

.rvx-option:hover {
    background-color: #4649493e;
}

.rvx-option-title {
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.rvx-option-desc {
    margin-bottom: 18px;
    font-weight: bold;
    color: #CFE1EE;
    /* margin-left: 20px; */
    font-size: 14px;
    
}

.rvx-option-version {
    margin-bottom: 18px;
    font-weight: bold;
    color: lightyellow;
    /* margin-left: 20px; */
    font-size: 14px;

}

.rvx-Detailed-options .rvx-option-Detailed-key {
    margin-bottom: 18px;
    font-weight: bold;
    color: #92e191;
    /* margin-left: 20px; */
    font-size: 14px;

}

.rvx-Detailed-options .rvx-option-Detailed-default,
.rvx-option-Detailed-title,
.rvx-option-Detailed-description,
.rvx-option-Detailed-required {
    margin-bottom: 18px;
    font-weight: bold;
    color: #83bee8;
    /* margin-left: 50px; */
    font-size: 14px;

}

.rvx-Detailed-options .rvx-option-Detailed-values {
    margin-bottom: 18px;
    font-weight: bold;
    color: #e374b5;
    /* margin-left: 50px; */
    font-size: 14px;

}

.button-container {
    position: fixed;  /*고정 위치 */
    bottom: 0px;
    width: 100%; 
    text-align: center;;
    padding: 10px 0; /* 상하 패딩 설정 */
    
}

.w-btn {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    border: none;
    display: inline-block;
    padding: 20px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-left: 15px;
}

.w-btn-green {
    background-color: #4b987e;
    color: #CFE1EE;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

/* 복사 아이콘 */
.Full-Spaces a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(144, 212, 119);
    display: block;
    justify-content: center;
    align-items: center; 
}

.Full-Spaces svg {
    width: 25px;
    height: 25px;

    fill: white;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.Full-Spaces svg:hover {
    fill: #5e6ed9;
}

/* 어드레스 적용 */
.contact {
    font-weight: bold;

    border-radius: 15px;
    border: 3px solid lightyellow;

    width: auto;
    height: auto;

    padding: 10px;

    margin-left: auto;
    margin-top: auto;

    text-align: center;
    
    background-color: #b3d5ed;
}

/* 문의 svg 정의 */
.contact svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 어드레스 링크 컬러 적용 */
.contact  a {
    color: brown;
    text-decoration: none;
}


/* 버튼 */
.Reference > .images-open {
    display: block;
    color: #127ecb;
    background-color: rgb(199, 224, 252);
    border-radius: 30px;
    border: 3px solid #5710e3;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s;
    

}

.Reference > .images-open:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    cursor: pointer;
}

.Reference > .images-open:active {
    transform: scale(1.5);
}


/* 사진 */
.Reference > .reference-image {
    visibility: hidden; /* 기본적으로 이미지를 숨깁니다 */
    opacity: 0; /* 투명도를 0으로 설정하여 보이지 않게 합니다 */
    width: 320px;

    border: 3px solid black;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    transition: opacity 1.2s ease, visibility 1.2s ease; /* 부드러운 전환 효과를 설정합니다 */
    border-radius: 30px;
    
}

/* 사진을 숨김처리 */
.Reference > .reference-image {
    display: none;
}

.Reference > .reference-image.show {
    visibility: visible; /* 이미지를 보이게 합니다 */
    opacity: 1; /* 투명도를 1로 설정하여 이미지를 보이게 합니다 */
}

hr {
    width: 95%;
    height: 10px;
    background-color: darkcyan;
    border-radius: 10px;
}
